#page_main {
	display: grid;

	width: 100%;

	grid-template-columns: calc(var(--ws2) * 3 + (var(--fws) * 3.5 - var(--ws2)) + var(--ws2) + var(--fws) * 2.5) auto;
}



#info { display: grid; margin: var(--ws2); margin-right: 0; }

.prof {
	display: grid;

	width: fit-content;

	grid-template-columns: auto calc(var(--fws) * 1.5);

	margin-left: var(--ws2);
	margin-right: var(--ws2);
}

.prof > span { margin-top: calc((var(--fws) / 2) + var(--ws2) / 2 - 1px); margin-right: var(--ws2); }
.prof > input { width: calc(var(--fws) * 1.5); margin-left: var(--fws); }
.prof.noadm > input { visibility: hidden; }


#profile {
	height: calc(var(--fws) + var(--ws2));
	grid-template-columns: auto calc(var(--fws) * 2.5);
	margin-bottom: var(--ws2);
}

#profile > input { background-color: var(--r); width: calc(var(--fws) * 2.5); margin-left: 0; }
#user_list { overflow-y: scroll; }


#info, #div_chat { height: calc(100% - var(--ws2) * 2); }

#div_chat {
	display: grid;

	margin: var(--ws2);
}


#chatheader, #chatfooter { margin: var(--ws2); }
#chatbox {
	display: flex;
	
	overflow-y: scroll;
	
	justify-content: flex-end;
	flex-direction: column;
}

#chatheader {
	display: grid;
	grid-template-columns: calc(var(--fws) + var(--ws2)) auto calc(var(--fws) * 2.5 + var(--ws2)); 
}
#chatheader > * { margin: 0; }

#chatheader > #open_ul {
	background-image: url("../img/user_icon.svg");
	background-position: center calc(var(--fws) * 0.25 / 2.5);
}

#chatheader > span {
	display: inline-block;
	
	margin-top: calc((var(--fws) - 1em) / 2);

	white-space: nowrap;

	height: 1em;
	width: 100%;
}

#room_exit {
	margin-left: var(--ws2);


	background-color: var(--r);
}




.chatmessage {
	margin: 0 var(--ws2);
	margin-bottom: var(--ws2);
}

#form_chat {
	height: var(--fws);
}
#form_chat > input {
	margin-top: 0;

	width: calc(100% - var(--ws2) * 2 - var(--fws));
}
#form_chat > input[type = "button"], #open_ul {
	width: var(--fws);

	border-radius: calc(var(--brd) * 2);

	background-image: url("../img/send_icon.svg");
	background-size: calc(var(--fws) * 0.75);
	background-repeat: no-repeat;
	background-position: calc(var(--fws) * 0.25 / 1.5) center;
	background-color: var(--b);
}

