.b4 { background-color: #445; }
.b3 { background-color: #334; }
.b2 { background-color: #223; }
.b1 { background-color: #112; }

.r  { background-color: #F44; }
.g  { background-color: #4F4; }
.b  { background-color: #44F; }