.menu > div { grid-area: a; }

.menu {
	display: grid;

	grid-template-areas:
		". . ."
		". a ."
		". . ."
	;

	height: 100%;
}

.makeaccount > div { grid-area: a; }

.makeaccount {
	display: grid;

	grid-template-rows: 2fr 1fr 2fr;

	grid-template-areas:
		". . ."
		". a ."
		". . ."
	;

	height: 100%;
}



.center > div { grid-area: a; }
.center > form { grid-area: a; }

.center {
	display: grid;

	grid-template-areas:
		". . ."
		". a ."
		". . ."
	;
}


.chat {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;

	height: 100%;
}

.box0 {
	display: grid;
	grid-template-rows: 2fr 1fr;
}